*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family:"Roboto";
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto; 
}

/* HEADER */

header {
    width: 90vw;  
    height: 80px;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: flex-end;
}

.logo {
    width:60%;
}

nav {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.nav {
    display: none;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.text1 {
    font-size: 18px;
    text-decoration: none;
    color: rgb(65, 64, 64);
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    width: 100px;
    height: 30px;
    background-color: rgb(237, 83, 84);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

/* SECTION 1 */

.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}


.heroR {
    width: 50%;
    position: relative;
}
.heroR img {
    width: 100%;
}

.heroL {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;}

h1 {
    font-size: 35px;
}

.text2 {
    font-size: 20px;
    font-family:"Roboto";
    color: #a8a6a6;
    line-height: 1.5;
}

.btn-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.btn2 {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
}

.btn21 {
    background-color: rgb(82, 103, 226);
} 

.btn22 {
    color: black;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
}

.spn1 {
    position: absolute;
    z-index: -1;
    top: 130px;
    left: 190px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    width: 574px;
    height: 350px;
    background-color: rgb(71, 88, 192);
}

/* Section 2 */ 
.features {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}
.features-lable {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.features-blog-1-img{
    width: 50%;
    position: relative;
}
.features-blog-1-img img{
    width: 100%;
    position: relative;
}
.baner-img-bg1{
    top: 10%;
    right: 50%;
    width: 105%;
    height: 400px;
    position: absolute;
    background-color: #5266DF;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 30%;
    z-index: -1;
}
.features-lable-1 {
    font-size: 3rem;
    font-weight: 600;
    color: #1A203A;
    margin-bottom: 1rem;
}

.features-lable-2 {
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1rem;
    color: #CBCCD0;
}

.features-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-item-in-1{
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
}
.features-items-1 {
    width: 35%;
    height: 60PX;
    border-bottom: 1px solid #a8a6a6;
    text-align: center;
    cursor: pointer;
}

.features-items-1:first-child {
    border-bottom: 4px solid #DF6466;
}

.features-in {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.features-items-1-lable {
    font-size: 16px;
    color: #1A203A;
}

.features-items-1:hover .features-items-1-lable {
    color: #D1757A;
}

.features-blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 0rem;
}

.features-blog-1 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8rem;
    align-items: center;
    display: none;
}
.features-blog-1:first-child{
    display: flex;
}

.features-blog-1-lable {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.features-blog-1-lable-1 {
    font-size: 2rem;
    font-weight: 600;
    color: #1A203A;
}
.features-blog-1-lable-2{

    font-size: 1.3rem;
    color: #a8a6a6;
    font-family: "Roboto";
    line-height: 1.5;
}
.features-blog-1-button a{
    font-size: 16px;
    padding: 16px 24px;
    background-color: #424CBB;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 2em #5267dfa5;
}


.openFeat{
    width: 100%;
    height: 100%;
    display: flex !important;
    gap: 8rem;
    align-items: center;
    animation: feat 2s ease;
    transition: all 0.5s ease;
    opacity: 1;
}
.closeFeat{
    display: none !important;
}
.features-blog-1:first-child{
    display: flex;
}


