*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family:"Roboto";
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto; 
}

header {
    width: 90vw;  
    height: 80px;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: flex-end;
}

.logo {
    width:60%;
}

nav {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.nav {
    display: none;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.text1 {
    font-size: 18px;
    text-decoration: none;
    color: rgb(65, 64, 64);
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    width: 100px;
    height: 30px;
    background-color: rgb(237, 83, 84);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

/* SECTION 1 */

.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}


.heroR {
    width: 50%;
    position: relative;
}
.heroR img {
    width: 100%;
}

.heroL {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;}

h1 {
    font-size: 35px;
}

.text2 {
    font-size: 20px;
    font-family:"Roboto";
    color: #a8a6a6;
    line-height: 1.5;
}

.btn-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.btn2 {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
}

.btn21 {
    background-color: rgb(82, 103, 226);
} 

.btn22 {
    color: black;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
}

.spn1 {
    position: absolute;
    z-index: -1;
    top: 130px;
    left: 18px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    width: 574px;
    height: 350px;
    background-color: rgb(71, 88, 192);
}


/* Section 2 */ 
.features {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}
.features-lable {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.features-blog-1-img{
    width: 50%;
    position: relative;
}
.features-blog-1-img img{
    width: 100%;
    position: relative;
}
.baner-img-bg1{
    top: 10%;
    right: 50%;
    width: 105%;
    height: 400px;
    position: absolute;
    background-color: #5266DF;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 30%;
    z-index: -1;
}
.features-lable-1 {
    font-size: 3rem;
    font-weight: 600;
    color: #1A203A;
    margin-bottom: 1rem;
}

.features-lable-2 {
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1rem;
    color: #CBCCD0;
}

.features-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-item-in-1{
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
}
.features-items-1 {
    width: 35%;
    height: 60PX;
    border-bottom: 1px solid #a8a6a6;
    text-align: center;
    cursor: pointer;
}

.features-items-1:first-child {
    border-bottom: 4px solid #DF6466;
}

.features-in {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.features-items-1-lable {
    font-size: 16px;
    color: #1A203A;
}

.features-items-1:hover .features-items-1-lable {
    color: #D1757A;
}

.features-blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 0rem;
}

.features-blog-1 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8rem;
    align-items: center;
    display: none;
}
.features-blog-1:first-child{
    display: flex;
}

.features-blog-1-lable {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.features-blog-1-lable-1 {
    font-size: 2rem;
    font-weight: 600;
    color: #1A203A;
}
.features-blog-1-lable-2{

    font-size: 1.3rem;
    color: #a8a6a6;
    font-family: "Roboto";
    line-height: 1.5;
}
.features-blog-1-button a{
    font-size: 16px;
    padding: 16px 24px;
    background-color: #424CBB;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 2em #5267dfa5;
}


.openFeat{
    width: 100%;
    height: 100%;
    display: flex !important;
    gap: 8rem;
    align-items: center;
    animation: feat 2s ease;
    transition: all 0.5s ease;
    opacity: 1;
}
.closeFeat{
    display: none !important;
}
.features-blog-1:first-child{
    display: flex;
}


/* SECTION 3 */

.section3 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1000px;
}

.wrapper3 {
    height: 30%;
}

.cards2 {
    height: 100%;
    display: flex;
    justify-self: center;
    justify-content: space-around;

}

.cards-item1 {
    width:320px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
        border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-evenly;
    box-shadow: 5px 4px 1em #cdcdcd7e;
}

.two {
    margin-top: 50px;
}

.three {
    margin-top: 100px;
}

.heading {
    font-size: 35px;
    text-align: center;
    padding-bottom: 40px;
}

.heading1 {
    font-size: 25px;
}

.text4 {
    font-size: 20px;
    text-align: center;
    color: #a8a6a6;
}

.text3 {
    text-align: center;
}

.img1 {
    width: 100px;
    height: 100px;
}

.btn3 {
    font-size: 18px;    
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 300px;
    height: 40px;
    border: transparent;
    background-color:  rgb(82, 103, 226);
}

/* SECTION 4 */

.section4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    flex-direction: column;
}

.wrapper4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq-wrapper {
    display: flex;
    flex-direction: column;
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom:2px solid #fff;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.8rem;
    font-weight: normal;
}

.toggle-answer {
    max-height: 0;
    overflow: hidden;
    font-size: 17px;
    color: #a8a6a6;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.faq.active .toggle-answer {
    max-height: 300px;
}

.btn1 {
    width: 150px;
    height: 40px;
    background-color: #5266DF;
    border: unset;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.btn1:hover {
    background-color: black;
    transition:background-color 0.5s ease-in-out; /* 1 soniyada o'zgarish */;
}

.btn:hover {
    background-color: black;
    transition:background-color 0.5s ease-in-out; /* 1 soniyada o'zgarish */;
    color: white;
    font-weight: bold;
}

.btn2:hover {
    background-color: black;
    transition:background-color 0.5s ease-in-out; /* 1 soniyada o'zgarish */;
    color: white;
    font-weight: bold;
}

.btn3:hover {
    background-color: red;
    transition:background-color 0.5s ease-in-out; /* 1 soniyada o'zgarish */;
    color: white;
    font-weight: bold;
}

/* Section 5 */

.section5 {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5266DF;
}

.section5 h2 {
    color: white;
}

.section5 p {
    color: white;
    letter-spacing: 6px;
}

form {
    display: flex;
    align-self: center;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

input {
    width: 250px;
    height: 40px;
    border: unset;
    border-radius: 10px;
    font-weight: normal;
}

.btn5 {
    width: 120px;
    height: 35px;
    border: transparent;
    background-color: orangered;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

/* FOOTER */

footer {
    height: 100px;
    display: flex;
    background-color: rgb(36, 41, 70);
    justify-content: space-evenly;
}

.logof {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 40%;
}

.logoimg {
    width: 150px;
    height: 30px;
}


.footL {
    font-size: 18px;
    color: rgb(211, 205, 205);
}

.nav-links {
    display: flex;
    gap: 15px;
    list-style: none;
}

.brr {
    display: none;
}

.nav-links {
    display: none;
}
.menu-icon {
    display: none;
}
.sec6 {
    display: none;
}
.features-blog-1-button {
    text-decoration: unset;
}



@media (min-width: 350px) and (max-width: 430px) {
    body {
        width: 100vw;
    }
    header {
        width: 390px;
    }
    ul {
        display: none;

    }
    .nav-links.show {
        display: flex !important;
    }
    
    .nav-links {
        display: block;
        flex-direction: column;
        position: fixed; /* Menyu ekranga yopishib turadi */
        top: 50px; /* Header ostida chiqadi */
        left: 0;
        width: 300px;
        background: white;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 999; /* Barcha elementlardan ustun turishi uchun */
      }    
    .nav-links.show {
        display: flex;
    }

    .menu-icon {
        padding-left: 200px;
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .section1 {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .heroL {
        width: 100%;
        align-items: center;
        gap: 20px;
    }
    .heroR {
        width: 100%;
    }

    .spn1 {
        width: 305px;
        height: 250px;
        top: 80px;
        left: 85px;
    }
    .br {
        display: block;
    }
    .yozuv {
        text-align: center;
    }
    .features {
        width: 1000px;
    }
    .section3 {
        height: 1800px;
        padding-top: unset;
    }
    .cards2 {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards-item1 {
        height: 400px;
    }
    .wrapper3 {
        height: 10%;
    }
    .baner-img-bg1 {
        left: 195px;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }
    .section4 {
        height: 800px;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    input {
        border-radius: 5px;
    }
    .btn5 {
        width: 250px;
    }
    .social {
        width: 100%;
        justify-content: center;
    }
    .logof {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .logoimg {
        width: 100px;
        height: 20px;
    }
    .footL {
        font-size: 12px;
    }
    .socialImg {
        width: 20px;
        height: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: 300px;
        align-items: center;
        justify-content: space-evenly;
    }
    h3 {
        font-size: 18px !important;
    }
    h1, .heading {
        font-size: 25px;
    }
    .text2 {
        font-size: 14px;
    }
}

@media only screen and (max-width:1150px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .features {
        padding-top: 3rem;
        flex-direction: column;
    }
    .feature-item-in-1{
        width: 80%;
    }
    .features-blog-1{
        flex-direction: column;
    }
    .features-blog-1-img {
        width: 100%;
    }

    .features-blog-1-img img {
        width: 100%;
    }

    .features-blog-1-lable {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .features-blog-1-lable {
        text-align: center;
    }

    .features-blog-1-button {
        justify-content: center;
    }

    .baner-img-bg1 {
        top: 50%;
        right: -15%;
        width: 50%;
        height: 70%;
        position: absolute;
        background-color: #5266DF;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 45%;
        z-index: -1;
    }
}
@media only screen and (max-width:780px) {
    .features{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .features-blog{
        padding-left: 0;
        align-items: center;
    }
    .features-blog-1-img{
        width: 100%;
    }
    .features-blog-1-img img{
        width: 100%;
    }
    .features-lable-2{
        width: 70%;
    }
    .features-blog-1-lable{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media only screen and (max-width:633px) {
    .features-items-1-lable{
        font-size: 0.7rem;
    }
    .features-items-1{
        padding-bottom: 0rem;
        height: 40px
    }
}
@media only screen and (max-width:415px) {
    .features-items-1-lable{
        font-size: 9px;
    }
}
